.top-column {
  background-color: grey;
  border-radius: 4px 4px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  height: 5px;
}

.column {
  display: flex;
  gap: 10px;
  width: 300px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.616);
  margin: 0px 5px 0px 5px;
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
}

.column-title {
  display: flex;
  gap: 10px;
}

p {
  display: flex;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* Cores */
.status-to-do {
  background-color: #59b4d1;
}

.status-to-do-top {
  background-color: #4e9fb8;
}

.status-in-progress {
  background-color: #d0935a;
}

.status-in-progress-top {
  background-color: #af7c4c;
}

.status-review {
  background-color: #945ad1;
}

.status-review-top {
  background-color: #7e50af;
}

.status-done {
  background-color: #59d090;
}

.status-done-top {
  background-color: #4aaa77;
}
