.bg-home {
  background-image: url("./img/Home.png");
  background-position: center;
  display: flex;
  align-items: baseline;
  background-color: #e1e8ed;
  height: 100vh;
  background-repeat: no-repeat;
}
