/* Reset css */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.container {
  height: 100vh;
  background-image: url("../src/images/Home.svg");
  background-position: bottom;
  background-color: #e1e8ed;
  background-repeat: no-repeat;
  display: flex;

  gap: 35px;
}
